# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
# nyc test coverage
.nyc_output

# next.js
/.next/
/out/
# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem
# Optional REPL history
.node_repl_history

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# Optional npm cache directory
.npm

# env files (can opt-in for committing if needed)
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# Logs
logs
*.log
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Replit debugger
.breakpoints

# Keep your logo file as a committed file if you want to.
# If you don't want to, you can add it here.
# generated-icon.png